<%- include('partial/_head') %>
<body>
<%- include('partial/_header') %>
<main class="l-main">
    <section class="container pt-5 pb-3">
        <h1><i class="fas fa-fw fa-long-arrow-alt-up mr-2" aria-hidden="true"></i><%= parameters.title %></h1>
        <p><%= parameters.description %></p>
    </section>
    <section class="container pb-5">
        <h2>神鬼</h2>
        <p>下のエリアにマウスカーソルを持って行ってみてください。マウスストーカーが変化します。</p>
        <div class="remilia" id="remilia">
            <h3>ヴァンパイアストーカー</h3>
            <p>ぎゃおー！たーべちゃうぞー！</p>
        </div>
    </section>
</main>
<%- include('partial/_footer') %>
<%- include('partial/_mouseStalker') %>
<%- include('partial/_js_loader') %>
</body>
</html>